body {
    background-color: rgb(48, 52, 67);
    font-family: 'JetBrains Mono', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.heading {
    color: white;
    /* position: absolute; */
    /* top: 0; */
    /* left: 130px; */
    font-size: 25px;
}

.grid {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: 5px solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: red;
    border: 5px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
    border: 0;
}

.pinky {
    background-color: pink;
    border: 0;
}

.inky {
    background-color: cyan;
    border: 0;
}

.clyde {
    background-color: orange;
    border: 0;
}

.scared-ghost {
    background-color: aquamarine;
    border: 0;
}

/* .ghost-lair {
    background-color: white;
} */

/* .empty {
    background-color: black;
} */

.pacman {
    background-color: yellow;
    border-radius: 10px;
}